<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="card">
    <div>home</div>

    <div class="card">
        <div th:if="${user}!=null">
            <a th:text="${user.username}"></a>
            <a th:text="${user.email}"></a>

            <a class="btn" th:href="@{/logout}">로그아웃</a>
        </div>
    </div>
    <div>
        <a class="btn" th:href="@{/login}">로그인</a>
        <a class="btn" th:href="@{/signup}">회원가입</a>
    </div>
</div>

</body>
</html>